body {
  background-color: #D3DEDC;
}

hr {
  border-style: dotted none none none;
  border-width: 5px;
  width: 10%;
  border-color: #BBBBBB;
}

h1 {
  font-family: helvetica;
  color: #7C99AC;
}

h3 {
  font-family: helvetica;
  color: #7C99AC;
}

p{
  font-family: helvetica;
}
